{% extends 'backoffice/layout.html.twig' %}
{% block title %}liste des taches{% endblock %}
{% block content_back %}
<h1 class="display-2">Liste des taches</h1>
<a href="{{ path( 'backoffice_task_add')}}" class="btn btn-primary">
Ajouter une nouvelle tache
</a>
<table class="table table-sm">
  <thead>
    <tr>
      <th>#</th>
      <th>Description</th>
      <th>Groupe concerné</th>
      <th>Date de rendu</th>
      <th>Nom de l'enseignant</th>
      <th>Module</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <th scope="row">{{ task.id }}</th>
      <td>{{ task.description }}</td>
      <td>{{ task.groupOfTask.name }}</td>
      <td>{{ task.deadline|date() }} </td>
      <td>{{ task.teacher.name }}</td>      
      <td>{{ task.module.name }}</td>   
      <td><a href="{{ path( 'backoffice_task_edit', { id: task.id }) }}" class="btn btn-outline btn-info"><i class="fas fa-edit"></i> éditer</a></td>
      <td><a href="{{ path( 'backoffice_task_delete', { id: task.id }) }}}" class="btn btn-outline btn-danger"><i class="fas fa-eraser"></i> supprimer</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}